$primary: #242323;
$secondary: #01b1af;
$fontColor: #737373;
$white: #fff;
$mobileMax: 700px;

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

a {
  color: $secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  width: 100%;
  padding: 2em 0;
  background-color: $primary;
}

footer {
  width: 100%;
  background-color: $primary;
  color: $white;
  margin-top: 2em;
  border-top: solid 2px $secondary;
  padding-bottom: 1em;
}

#footer-info {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * {
    margin-bottom: 2em;
  }
}

#footer-address {
  h2 {
    margin-top: 0;
  }
}

@media screen and (min-width: $mobileMax) {
  #footer-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  & > * {
    margin-bottom: 1em;
  }

  #footer-address {
    text-align: left;
  }
}

.navbar {
  display: flex;
  margin: 0 2em;
  a {
    color: $white;
    text-decoration: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bg {
  height: 200px;
  width: 100%;
  padding: 2em 0;
  background-image: url("/images/apartment_waltraud_lake_cropped.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    margin: 0 1em;
  }
}

.intro {
  padding: 1em;
  max-width: 570px;

  p {
    color: $fontColor;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    margin: 1em 0 0;
    font-style: italic;
  }
}

#free-summercard {
  line-height: 2em;
  font-size: 1.2em;
}

#toggle-intro-button {
  border: solid 2px $secondary;
  color: $secondary;
  border-radius: 5px;
  padding: 0.8em 3em;
  text-transform: uppercase;
  margin-top: 2em;
  font-size: 0.8em;

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}
